# Compiled executables
sorting_multithread
sorting_multiprocess
max_aggregation
*.exe
*.out
*.app

# Object files
*.o
*.obj
*.ko
*.elf

# Libraries
*.lib
*.a
*.la
*.lo
*.so
*.so.*
*.dylib

# Debugging files
*.dSYM/
*.su
*.idb
*.pdb

# Editor and IDE files
.vscode/
.idea/
*.swp
*.swo
*~
.DS_Store

# Build directories
build/
bin/
obj/

# Temporary files
*.tmp
*.temp
*.log
